/*Css File for Omeka Utas Theme*/

/*GLOBAL TAGS*/
html {
	font-family: 'Crimson Text', serif;
	line-height: 1.45;
	color:#000;
	font-size:100%;
	background-color:#f6efef;
}

body {
	font-family: 'Crimson Text', serif;
	
}

h2, h3, #type-title {
	font-family: 'Crimson Text', serif;
}

h1, .h1 {
	font-size:1.7em;
	
}

h2, .h2 {
    font-size: 1.5em;
}

.blocks>h2{
	font-size: 1.7em;
}

h2 {
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	
}

h3, .h3 {
	font-size: 1.3em;
}

h4, .h4 {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
    font-size: 1.2em;
	line-height: 1.3;
	letter-spacing: 0.4px;
	/*text-align: justify;*/
	font-family: "Zen Old Mincho";
}

a {
	color:#B94836;
	
}

a.footer-a {
	color:#9cc2e3;
	font-size: 1.05em;
	
}

a.footer-a:hover {
	color: white;
}

a:hover, a:focus {
	color: #99000b;
}

form {
	margin-bottom: 1em;
}


.form-control:focus {
	border-color: #B94836;
	box-shadow: inset 0 0 4px 2px #B94836;
}

/* #skip_links */

#skip_links, #skip_links .col-md-12 {
	height: 10px;
	padding:0;
	background: white;
}

.skip_links--link:focus {
	background:#B94836;
	color:#fff;
	width:100%;
	display:block;
	padding:10px 40px;
	font-size:1.4em;
	text-transform: uppercase;
	font-weight:700;
}


/* navbar #top */
#title-logo {
	width:auto;
	max-width:1200px;
	min-height:130px;
	background-color:#fff;
}

.navbar-brand {
	height:initial;
	color:#2d6a9f;
	position: relative;
	margin-top: -12px;
	margin-left: 130px;
	font-size: 12px;
	font-style: italic;
}

.navbar {
	min-height: 6em;
}

.navbar-nav>li {
	float:left;
	display:inline-flex;
	padding: 5px;
}

.navbar-nav>li + li::before {
  content: '|';
  margin-top: 11.5px;
  color: #99000b;
}

.navbar-default {
	background-color:#fff;
	border: none;
}

@media (min-width:768px) {
	#title-logo{
		height:130px;
	}
}

/* .navbar #quicklinks */
#quicklinks {
	line-height:1;
	font-size: 1.5em;
	padding-left: 2em;
	margin-right: 2em;
}

#quicklinks a {
	color:#99000b;
	padding:0;
	margin:0.5em 0 0 0.5em;
}

#quicklinks a:hover, #quicklinks a:focus {
	border-bottom:2px solid #B94836 ;
}

/* .navbar #quicklinks #search-utas */

@media (min-width:768px) {
	#search_utas{
		position:relative;
		bottom:55px;
		right:12px;
		width:295px;
	}
}

/* Header */

header {
	background-color:black;
	color:white;
	
}

header .row {
	max-width:1200px;
	padding:0;
	margin:0 auto;
	border-bottom:1px solid #333;
}

header .title {
	padding-top:10px;
	padding-bottom:1px;
	margin-left:15px;
	margin-right:15px;
}

header .title a {
	text-transform:uppercase;
	width:100%;
	margin:10px;
	display:block;
}


/*.main-container*/

.main-container {
	max-width:1200px;
	margin: 0 auto;
	padding:0;
}

#exhibitiontitle {
	color:#fff;
	background-color:#000;
	background-color:rgba(0,0,0,.7);
	padding:4%;
	margin-right: 100px;
	margin-left: 0px;
}

#exhibitiontitle h1>small {
	display:block;
	color:#2d6a9f;
	font-size:50%;
}

.exhibitioncontent {
	background-color:#fff;
	color:#000;
	padding: 30px;
	font-weight: 100;
	overflow-wrap: break-word;
	display: flow-root;
	margin-right: 100px;
}

@media (min-width:768px) {
	#exhibitiontitle h1{
		font-size:2.5em
	}
}

@media screen and (min-width: 48em) {

	#base {
		background-color:#d1d1d1;
		background-repeat:no-repeat;
		background-position: relative;
		background-size: 100%;
		margin-left: 25px;
		margin-right: 25px;
		margin-top: -20px;
	}
	
	.topspace {
		min-height:12em;
		background-color:initial;
	}
	
	header .row {
		border:none;
	}
	
	header .title {
		padding-top:1px;
		border-top:black solid 2rem;
	}
	
	.exhibitioncontent {
		box-shadow: 0px 5px 10px 0px #bbb;
		margin-bottom:5em;
	}
}

@media screen and (min-width:64em){
	
	#exhibitiontitle{
		padding:2.5rem;
	}
}

@media (min-width:1200px){
	
	.container{
		width:1200px;
	}
}

/* Menu toggle*/

.menu-toggle {
	padding-left:25px;
}

.menu-toggle, .menu-toggle:hover, .menu-toggle:focus {
	color:#99000b;
	float:left;

}

.menu-toggle i:before {
	content: "\f00d";
}

.menu-toggle.collapsed i:before {
	content: "\f0c9";
}

/* Side Navigation */

.nav-pills li a {
	color: rgb(0, 0, 0);
	display: inline-block;
    text-decoration: none !important;
    padding-top: 1rem;
	padding-bottom: 1rem;
	padding-inline-start: 1em;
	padding-right: 0.7em;
	width: 100%;
}

/*tex indentation - can be extended */

nav li li a{
	padding-inline-start: 1.3em;
}

nav li li li a{
	padding-inline-start: 2.6em;
}

nav li li li li a{
	padding-inline-start: 3.9em;
}

nav li li li li li a{
	padding-inline-start: 5.2em;
}

#mainnav li::marker {
	color: transparent !important;
	display: none !important;
}

/*2nd level and 3rd level hidden*/
#mainnav ul ul{
	display:none;
}

/*2nd level in visible in hover*/
#mainnav li:hover ul{ 
	display:block;
	
}
/*menu indentation visible in hover*/
#mainnav li:hover:not(.active) ul:first-child{ 
	margin-left: 0.5em;
	
}

/*2nd level and 3rd level*/
.nav-pills>li>a {
	background-color: #222222;
	color:rgb(255, 255, 255);
	padding: 1rem;
	display: block;
	/* width:100%; */
	margin:auto;
	border-radius:0;
}


.nav-pills>li.active>a{
	background-color: #E6E8E6;
	color: rgb(0, 0, 0) !important;
	border-top: 2px solid #dddada ;
}

/*selected menu level*/
#mainnav .nav-active>a{
	width: 100%;
	color: white !important;
    background-color: #B94836;
}

.active> ul{
	margin-left: 0.5em;
	}
	

#mainnav li:not(.active):hover a{
	color: #000000;
	background-color: #E6E8E6;
}


#mainnav li a:focus, 
#mainnav li a:hover {
	text-decoration: underline;
	background-color: #B94836  !important;
    color: #ffffff !important;
	border-top: 2px solid #B94836 !important;	
}

#mainnav li.nav-active>a:first-of-type{
	border-top:none !important;	
}

#mainnav>.nav>li:first-child a:hover{
	border-top:none !important;
}

#mainnav>.nav>li {
	background-color:#222222;
	display:block;
	margin:0;
}

#mainnav li.active ul, #mainnav li:hover ul{
	display:block;
	padding-inline-start: 0em;	
}

#mainnav li.nav-active>ul, #mainnav .nav>li:hover>ul{
	margin-left: 0.5em;
}

#mainnav li.nav-active>ul:not(.active){
	background-color: #E6E8E6;
}

#mainnav li.active li:not(.active){
	background-color: #E6E8E6;
}

.nav>li.nav-active>ul>ul, .nav>li:hover>ul>ul{
	margin-left: 0em;
}

.nav>li.active>ul>ul>ul, .nav>li:hover>ul>ul>ul{
	margin-left: 0em;
}


/*#search*/
#search .form-control {
	
	border: 1px solid #888888;
	box-shadow: none;
	height: 3.5em
}

#side_navigation {
	padding:0.5em;
	padding-top:1em;
	background-color:#222222;
}

#side_navigation nav {
	font-size:1.5em;
}

.btn-primary{
	background-color: #B94836;
    border-color: #B94836;
	height: 3.5em;
	padding:1em;
}

.btn-primary:hover{
	background-color: #99000b;
    border-color: #99000b;
	
}

/*nav menu borders */
.nav-pills>li>a {
	border-top: 2px solid #3b3b3b;
}
.nav-pills>li:first-child>a {
	border-top: none !important;
}
/*first level titles have a top border except the first one*/
.nav>li.active>ul>li>a {
	border-top: 2px solid #dddada;
}
.nav>li.active>ul>li>ul>li>a {
	border-top: 2px solid #dddada;
}

.nav>li.active>ul>li>ul>li>ul>li>a {
	border-top: 2px solid #dddada;
}
/*sub-menu titles have a lighter top border */

/*borders in hovering*/

.nav>li:hover>ul>li>a {
	border-top: 2px solid #dddada;
}
.nav>li:hover>ul>li>ul>li>a {
	border-top: 2px solid #dddada;
}

.nav>li:hover>ul>li>ul>li>ul>li>a {
	border-top: 2px solid #dddada;
}

/*content*/

#content {
	padding-top:10px;
}

/*Submenu in content*/
.sub-menu {
	display:inline-block;
}

.sub-menu>.nav>li>a {
	background-color:black;
	color:white;
	margin:5px 3px;
	padding:10px 10px;
}

.sub-menu>.nav>li>a:focus, 
.sub-menu>.nav>li>a:hover {
	background-color:#B94836;
}


.sub-menu>.nav-pills>li.active>a:focus,
.sub-menu>.nav-pills>li.active>a:hover {
	background-color:#B94836;
	border-top: 2px solid #B94836;
}


/* Social media sharing buttons */
#sharing-buttons{
	text-align:right;
	padding-top:10px;
}

@media screen and (min-width: 48em) {
	#side_navigation, header .title{
		margin-bottom:0;
		/*width:30%;
		float:left;*/
	}
	
	#side_navigation {
		padding-top:9.3rem;
		background-color:initial;
	}
	
	#content {
		width:70%;
		padding-left:1.25rem;
		float:left;
		padding-top:0;
	}
}
	
@media screen and (min-width: 64em) {
	/*#side_navigation, header .title{
		width:25%;
	}*/
	
	#content {
		width:75%;
	}
}


/* Site Page Content Blocks */
/* Using inline-block break SimpleCarousel and possibly others which become far
 * to wide.  I am not sure why its used here so not entirely sure the
 * implications of removing it or changing it to something more maleable like
 * https://www.w3schools.com/CSS/css_inline-block.asp
 */
.blocks {
	display:inline;
}

/* Item Showcase */
.item-showcase {
    /*margin: 24px 0 23px;
    border-top: 1px solid rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.08);*/
    padding: 5px 0 0;
    overflow: hidden;
    text-align: center;
    clear: both;
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
}

.item.resource .caption {
    font-size: 20px;
    line-height:24px
}
.item.resource .caption * {
    margin: 0 0 24px 0;
 }

.item.resource .captiopn>*:last-child {
    margin-bottom: 0;
}


.item-showcase .resource.item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 24px;
}

.item-showcase .resource.item img {
        margin-right: 12px;
}

.item-showcase .resource.item:only-child img {
        margin: 0 auto;
}

.item-showcase .resource.item:not(:only-child) {
        width: 33.33%;
        clear: none;
        padding: 0 6px;
}

.item-showcase .resource.item:not(:only-child) h3 {
        clear: left;
        font-size: 20px;
        line-height:24px;
        margin: 12px 0 0;
}

.item-showcase .resource.item:not(:only-child) img {
    max-width: 100%;
    height: auto;
    float: none;
    margin-right: 0;
    vertical-align: top;
}

/* File (Media Block) */
.right, 
.left {
    overflow: hidden;
}

.left .item.resource,
.right .item.resource {
    margin: 0 0 24px 0;
    max-width: 40vw;
}

.left .item.resource .media-render a,
.right .item.resource .media-render a {
        vertical-align: top;
}

.left .item.resource .media-render>*,
.left .item.resource img,
.right .item.resource .media-render>*,
.right .item.resource img {
        max-width: 40vw;
}

.left .item.resource img,
.right .item.resource img {
        vertical-align: top;
        margin-bottom: 12px;
}


.left:not(.file) .item.resource,
.right:not(.file) .item.resource {
    max-width: 50%;
}

/* IE 10 - Edge min-content equivalent */
.file {
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.left.file {
    float: left;
    clear: left;
    margin-right: 24px;
}

.right.file {
    float: right;
    clear: right;
    margin-left: 24px;
}

.left .item.resource > a:first-child,
.right .item.resource > a:first-child {
    vertical-align: top;
}


/* item with metadata */
.item-with-metadata {
	display:inline-block;
}


.site-page-pagination {
    padding: 10px;
    font-size: 1.4em;
    text-align: center;
}

.site-page-pagination > .btn{
    font-size: 0.75em;
}

/*.site-page-pagination a:hover{
}*/

.breadcrumbs {
	padding-bottom:1rem;
	font-size: 1.3em;
	color: #818181;
}

.breadcrumbs > a {
	color: #818181;
	text-decoration: underline;
}

.breadcrumbs > a:hover {
	color: #000000;
}

footer {
	background-color:#222222;
	color:white;
	padding:2rem;
}

.footer--copyright {
	padding-top: 3rem;
}

footer .copyright-text {
	text-align: center;
	font-style: italic;
	color: white;
	padding-top: 25px;
	font-size: 1em;
}

.footer--copyright a {
	color:white;
}

.footer--copyright a:hover,
.footer--copyright a:focus {
	text-decoration:underline;
}

footer .new-footer {
	width: 100%;
	padding: 2em;
	text-align: center;
	display: flex;
	justify-content:stretch;
	justify-content:center;
	flex-wrap: wrap;
}

footer .first-section {
	vertical-align: top;
	width: 50%;
	min-width: 15em;
	display: inline-block;
	box-sizing: border-box;
}

footer .second-section {
	vertical-align: top;
	width: 50%;
	min-width: 15em;
	display: inline-block;
	box-sizing: border-box;
}

footer .footer-title {
	color:white;
	font-size: 20px;
	font-weight: 300;
}

footer .footer-text {
	color:white;
}

#exhibitions a:hover,
#exhibitions a:focus {
	color:#99000b;
	text-decoration:underline;
}

#page-title h2 {
	margin-bottom:0;
	margin-top:12px;
	font-size: 2em;
	font-weight:bold;
	padding-bottom:20px;
	
}

#type-title {
    background-color: #000;
    color: #fff;
    padding: 6px 15px;
    display: block;
    margin: 6px 0;
    line-height: 24px;
    text-align: right;
    font-size:2em;
	margin-right: 0px;
	margin-left: 1px;
}

.property {
	padding-bottom:inherit;
	font-size: 1em;
	clear: left;
}

.property h4, .property .values {
	position:relative;
	min-height:1px;
	font-size:1em;
	line-height:20px;
}

.groupedValues::after {
	content: "\a";
    white-space: pre;
}

.uniVi {
	clear: left;
}

.h4, .h5, .h6, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.1;
}

@media (min-width: 992px) {
	.property h4, .property .values{
		padding-right:0px;
		padding-left:0px;
		font-size: 17px;
	}
	
	.property h4 {	
		width:25%;
		float:left;
		text-align:right;
	}
	
	.property .values {
		width:65%;
		float:left;
		margin-top:9px;
		margin-bottom:10px;
		padding-left: 35px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	
	nav li a {
	/* padding-right: 8em; */
	}
	
}



h4 {
	display: block;
	margin-block-start: 0.8em;
	margin-block-end: 0.7em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
} 

div {
	display: block;
}

* {
	box-sizing: border-box;
}

.media-list {
	display:inline-flex;
}

.media-list>.resource-link {
	padding:20px;
}

.media-list>.resource-link>.resource-name {
	display:block;
	text-align:center;
}

.media {
	overflow:visible;
}

.media.resource.show .media-render {
    text-align: center;
    padding:20px;
    max-width:100%;
}

.media-render>* {
    max-width: 100%;
}

.media-render img {
	max-width:100%;
	height:auto;
}

/* Item Browse Page */

.advanced-search {
	margin:7.5px 0;
}

.pagination form, .pagination .button, .pagination button, .pagination .page-count {
    display: inline-block;
    vertical-align: top;
    height: 45px;
}

.pagination>li>a{
	color: #B94836;
} 

.pagination>li>a:hover{
	color: #99000b;
}

.pagination>.active>span{
    background-color: #B94836;
    border-color: #B94836;
}

#browse-pagination {
	text-align:center;
}


.row-count {
	display:block;
}

ul.resource-list {
	list-style:none;
}

li.item.resource {
    border-bottom: #eee 1px solid;
    padding: 20px;
    overflow:hidden;
}

li.item.resource img {
	float:right;
	width:60px;
	height:auto;
	margin-left:15px;
}

li.item.resource .description {
	max-height:95px;
	overflow:hidden;
	position:relative;
}

li.item.resource .description:after {
    content: "";
    position: absolute;
    top: 52.5px;
    left: 0;
    right: 0;
    height: 45px;
    background: linear-gradient(to top, #fff, rgba(248,248,248,0));
}

@media screen and (min-width: 48em) {
	li.item.resource img{
		width:120px;
	}
}

/* Forms */

.field label, 
.field abbr {
	display:inline;
}

abbr.req {
	font-size:1.5em;
	color:red;
	text-decoration:none;
	border-bottom:none;
}

.field input, .field textarea, .field select {
    margin-top: 10px;
}

.field {
    border: solid 1px #eee;
    padding: 20px;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom:15px;
}

#advanced-search .inputs .value {
	padding-bottom:5px;
}

#advanced-search .remove-value{
	margin-left:5px;
}

#advanced-search .add-value{
	margin-top:10px;
}


/* Video Fix */
video {
  width: 100%    !important;
  height: auto   !important;
}

.media-render.iframe-fix {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.media-render.iframe-fix iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* MEDIA QUERY MOBILE OPTIMIZATION */
/* added by mdb */
@media (max-width: 961px) {

    /* content */
    #content {
        width: 100%;
    }

    /* exhibition */
    .exhibitioncontent {
        margin-right: 0;
        text-align: justify;
    }
    #exhibitiontitle {
        margin-right: 0;
    }

    /* dynamic list */
    .MuiIconButton-root {
        padding: 0 !important;
    }

    /* footer */
    footer .new-footer {
        width: 100%;
    }

    footer .first-section, footer .second-section {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    footer .first-section {
        margin-bottom: 20px;
    }

    footer .footer-title, footer .footer-text {
        text-align: center;
    }

}

@media (max-width: 768px) {

	#side_navigation nav li.active, #side_navigation nav li:hover {
		background-color: #222222 !important;
	}

	nav li a {
		color: rgb(0, 0, 0);
	}
}

